# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  schedule:
    - cron: "0 10 * * 1-5"
  workflow_dispatch:
  
jobs:
  update_repo:

    runs-on: windows-latest

    strategy:
      matrix:
        node-version: [24.x]

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm ci
    - run: npx playwright install --with-deps
    - run: node scrape.js
    - run: |-
          git diff
          git config --global user.email "actions@users.noreply.github.com"
          git config --global user.name "HORARIOS-bot"
          git add -A
          git commit -m "Atualizado %DATE%" || exit 0
          git push
